<div class="container">
    <div class="project-header">Project List</div>

    {{#each projects as |project|}}

    <div class="project">

        <div class="flex-container">

            <div class="project-left">
                <div class="project-title">{{project.attributes.name}}</div>
                <div class="description">{{project.attributes.description}}</div>
                <div id="contact-btn{{@index}}" class="contact-btn">
                    Contact Project Lead
                </div>
            </div>
            <div class="divider"></div>
            <div class="project-right">
                <div class="project-info">Project Needs & Interests</div>
                <div id="skills{{@index}}" class="skills">
                    <div class="tag-title">Skills Needed:</div>
                    <div class="tag-container">
                        {{#each
                        project.attributes.newMatchingConfig.skillsNeeded as
                        |skill|}}
                        <div class="tag skills-tag" data-id="{{skill.parent}}/{{skill.name}}">
                            {{skill.title}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div id="goals{{@index}}" class="opportunities">
                    <div class="tag-title">Learning Opportunities:</div>
                    <div class="tag-container">
                        {{#each
                        project.attributes.newMatchingConfig.skillsOffered as
                        |skill|}}
                        <div class="tag learnSkills-tag" data-id="{{skill.parent}}/{{skill.name}}">{{skill.title}}</div>
                        {{/each}}
                    </div>
                </div>
                <div id="interests{{@index}}" class="interests">
                    <div class="tag-title">Civic Interests:</div>
                    <div class="tag-container">
                        {{#each
                        project.attributes.newMatchingConfig.interests as
                        |interest|}}
                        <div class="tag interest-tag" data-id="interests/{{interest.name}}">{{interest.title}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

    
        <div class="details" id="details-{{project.attributes._id}}">

            <div class="details-flex">
                <div class="left">
                    Pending Tasks
                    <div class="details-container">
                    {{#if project.attributes.todoItems}}
                        <ul>
                        {{#each project.attributes.todoItems}}  
                            <li>{{this}}</li>
                        {{/each}}
                        </ul>
                    {{/if}}
                    </div>
                </div>
                <div class="divider"></div>
                <div class="center">
                    Progress Made
                    <div class="details-container">
                    {{#if project.attributes.progressItems}}
                        <ul>
                        {{#each project.attributes.progressItems}}  
                            <li>{{this}}</li>
                        {{/each}}
                        </ul>
                    {{/if}}
                    </div>
                </div>
                <div class="divider"></div>  
                <div class="right">
                    Additional Info
                    <div class="details-container">
                        
                    </div>
                </div>
            </div>

        </div>

        <div class="details-footer" id="details-button-{{project.attributes._id}}">
            Show project details
        </div>

    </div>

    {{/each}}
    <!--
    <button class="changeList">Change List</button>
    //-->

</div>