// URL: /test/api/taxonomy-selector

extends ../layout

block content
  div.container.container-maxWidth970

  h4.large-hero--font-narrow UI test - taxonomy selector
  p This view is no longer part of the user flow. After checkin users go straight to the matching wizard.

  div(id="skillsContainer")

block script

  // NOTE: put the dot after script(). and the js is rendered only for client interpretation
  
  script(type='text/javascript').
    
    var taxonomy = {
      skillsOffered: !{JSON.stringify(skills)},
      skillsNeeded: !{JSON.stringify(skills)},
      interests: !{JSON.stringify(interests)},
      goalsNeeded: !{JSON.stringify(goals)}
    };
    
    // render function 
    var renderAttributes = function (attrName) {
    
      // simpler, non-recursive approach
      var taxName;
      for (var i=0; i < taxonomy.skillsNeeded.length; i++) {
        attrib = taxonomy[attrName][i];
        
        if (typeof attrib.parent === 'undefined') { 
          taxName=attrib.name;
          continue; 
        }
        
        if (attrib.parent == "skills") {
          jQuery('#skillsContainer').append('<div><h3>' + attrib.title + '</h3></div>');
        } else {
          jQuery('#skillsContainer').append('<div>&gt; ' + attrib.name + '</div>');
        }
      }
    }
    
    // render when ready
    jQuery(document).ready(function () {
      renderAttributes('skillsOffered');

    });
