<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @tag.category&.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<%= link_to 'Edit', edit_category_tag_path(@category, @tag) %> |
<%= link_to 'Back', category_tags_path(@category) %>
