<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Slack channel:</strong>
  <%= @project.slack_channel %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @project.website_url %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @project.additional_info %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
