<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="table table-striped">
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category, class: 'badge badge-secondary' %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: 'badge badge-primary' %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
