<div id="{{name}}-btn" class="selector-btn">
    <div class="selector-btn-header">
        <div class="name">{{name}} to Contribute</div>
        <a data-toggle="modal" href="#myModal" class="add-btn">add skills</a>

    </div>
    <div class="selector-tag-container"></div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="selector-container">
                    <div class="tabs">
                        <div childName="allCategories" class="tab-name tab-name-active">All
                            Categories</div>
                        {{#each data.skills.itemsBySection}}
                            <div childName="{{@key}}" class="tab-name">{{this.title}}</div>
                        {{/each}}
                    </div>
                    {{!-- Start creation of tabs --}}
                    {{#each data.skills.itemsBySection}}
                        <div id="{{@key}}" class="taxonomy-container view-inactive">
                            <div class="category">
                                <div class="category-title">{{this.title}}</div>
                                <div class="tag-container">
                                    {{#each this.items}}
                                        <div id="{{this.title}}" class="tag">{{this
                                        .title}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    {{!-- End creation of tabs --}}

                    {{!-- Create all categories tab--}}
                    <div id="allCategories" class="taxonomy-container view-active">
                        {{#each data.skills.itemsBySection}}
                            <div class="category">
                                <div class="category-title">{{this.title}}</div>
                                <div class="tag-container">
                                    {{#each this.items}}
                                        <div id="{{this.title}}" class="tag">{{this
                                        .title}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


