/**
/* URL test/projectlist
*/

extends layout
block content
  div.container.container-maxWidth970
    form#wizardcards
      div.interest_profile
        form
          h3 Hello Civic Enthusiast!
          h4.h4--light Create a simple profile and let us help you decide which project teams are a match for you. Your information will not be saved and will only be shared with the project team leads that you choose to message.
          br
          .row.row--proj-container.container--soft-border
            section.section--gutter.col-sm-4
              h4 Skills that I want to contribute
              div.form-group.form-group-horizontal
                div(id="skills")
                  select(class="chosen-select", data-placeholder="Select all that apply.", multiple, tabindex="1")
                    - var list = skills
                    each item, j in list
                      if item.synontms != ''
                          option(value= j) #{item.name}, #{item.synonyms}
                        else
                          option(value= j) #{item.name}
                        //added inclusion of synonyms to each list

            section.section--gutter.col-sm-4
              h4 Interests
              div.form-group.form-group-horizontal
                div(id="interests")
                  select(class="chosen-select", id="ints", data-placeholder="Select all that apply.", multiple , tabindex="1")
                    - var list = interests
                    each item, j in list
                      if item.synonyms != ''
                        option(value= j) #{item.name}, #{item.synonyms}
                      else
                        option(value= j) #{item.name}
            section.section--gutter.col-sm-4
              h4 My goals
              div.form-group.form-group-horizontal
                div(id="goals")
                  select(class="chosen-select", data-placeholder="Select all that apply.", multiple, tabindex="1")
                    - var list = goals
                    each item, j in list
                      if item.synonyms != ''
                        option(value= j) #{item.name}, #{item.synonyms}
                      else
                        option(value= j) #{item.name}


    div.button__horiz-group(role="group" aria-label="...")

      button(type="button" role="start_matching" class="next btn btn-info ") Match me!


    div#umtemplate.container-maxWidth970-no-top-pad.row.row--proj-container.btn--hidden
      section.col-sm-12
        section#pName.col-sm-12.pName Needs Project Name
      section.col-sm-2
        span.project-thumbnail
          img.project-thumbnail

      section.col-sm-3
        span#pMission.pMission.col-sm-12 Project Mission Statement
      section.col-sm-4
        section.col-sm-12.section--remove-left-padding.skiIntGoa
          section.col-sm-3.pSkills Skills:
          section#pS.col-sm-9
            <button  type="button" class="btn btn-default disabled btn-less-padding btn--hidden btn--aligntext"></button>

          section.col-sm-3.pSkills  Goals:
          section#pG.col-sm-9
            <button  type="button" class="btn btn-less-padding btn-default disabled btn--hidden btn--aligntext"></button>

          section.col-sm-3.pSkills  Interests:
          section#pI.col-sm-9
            <button  type="button" class="btn btn-default btn-less-padding disabled btn--hidden btn--aligntext"></button>
      section.col-sm-3
        section.pGlyphs.col-sm-12
          span.glyphicon.glyphicon-asterisk(id="contactMe")
          span.glyphicon-envelope-text  Please contact me
          br
          span.glyphicon.glyphicon-send(id="contactTeam")
          span.glyphicon-envelope-text  Email project lead
          br
          span.glyphicon.glyphicon-pushpin(id="saveIt")(aria-hidden=true)
          span.glyphicon-envelope-text Save it
          //button(id="saveIt" class="btn btn-large btn-success saveIt__centered" role="button" data-leader="" info="") Save it!





        //button(id="saveIt" class="btn btn-large btn-success saveIt__centered" role="button" data-leader="" info="") Save it!


      div#moreInfo.btn--hidden
        section.col-sm-12.section--remove-left-padding.skiIntGoa
          section.col-sm-2.pSkills Skills:
          section#ppS.col-sm-10
            <button  type="button" class="btn btn-default disabled btn--hidden"></button>
          section.col-sm-2.pSkills  Goal sought:
          section#ppG.col-sm-10
            <button  type="button" class="btn btn-default disabled btn--hidden"></button>
          section.col-sm-2.pSkills  Civic Interest areas:
          section#ppI.col-sm-10
            <button  type="button" class="btn btn-default disabled btn--hidden"></button>
        div#moreProjInfo
          section.col-sm-12
            h3 Tasks
              h5 Lorem Ipsum
          section.col-sm-12
            h3 Past results
              h5 Lorem Ipsum
          section.col-sm-12.section--remove-left-padding.skiIntGoa
            section.col-sm-2
              h3 Project Lead
                img.project-thumbnail
            section.col-sm-10
                h4.leader Team Leader Name
                button(id="teamAddr" class="btn btn-large btn-primary mail-icon__centered" role="button" data-leader="" info="") Contact Team
            br


    div#match_res.btn--hidden
      h2.h1--more-margin  Your matching projects:
      div#pList.container
        //
        //matching list will be appended here.
        //

    include partials/contactTeamForm
    include partials/savedProjs
