/**
/* URL test/projectlist
*/

extends layout
block content
	div.container.container-maxWidth970
		form#wizardcards
			ul(id="progressbar")
				li(id="start" class="active") Profile
				li(id="start_matching") ..Working
				li(id="matched") Matched

			br
			div.interest_profile
				form
					h3 Hello Civic Enthusiast!
					p Create a simple profile and let us help you decide which project teams are a match for you. Your information will not be saved and will only be shared with the project team leads that you choose to message.
					hr
					h3 Profile
					p
					br
					hr(color="#cccccc")
					h4 Skills that I want to contribute
					div.form-group
						div(id="skills")
							select(class="chosen-select", data-placeholder="Select all that apply. * 3 skills max", multiple style="width: 350px", tabindex="1")
								- var list = skills
								each item, j in list
									if item.synontms != ''
											option(value= j) #{item.name}, #{item.synonyms}
										else
											option(value= j) #{item.name}
										//added inclusion of synonyms to each list

					br
					hr(color="#cccccc")
					h4 Civic issues of interest
					div.form-group
						div(id="interests")
							select(class="chosen-select", id="ints", data-placeholder="Select all that apply.  * 3 interests max", multiple style="width: 350px", tabindex="1")
								- var list = interests
								each item, j in list
									if item.synonyms != ''
										option(value= j) #{item.name}, #{item.synonyms}
									else
										option(value= j) #{item.name}
					br
					hr(color="#cccccc")
					h4 My goals
					div.form-group
						div(id="goals")
							select(class="chosen-select", data-placeholder="Choose your Goals", multiple style="width: 350px", tabindex="1")
								- var list = goals
								each item, j in list
									if item.synonyms != ''
										option(value= j) #{item.name}, #{item.synonyms}
									else
										option(value= j) #{item.name}
					br

				div.button__horiz-group(role="group" aria-label="...")

					button(type="button" role="in_progress_message" class="next btn btn-warning button__more-margins btn--hidden") Hang on a second!

					button(type="button" role="start_matching" class="next btn btn-info button__more-margins") Match me!

					button(type="button" role="see_results" class="next btn btn-primary button__more-margins btn--hidden") See results!

			div#umtemplate.container-maxWidth970-no-top-pad.row.row--proj-container.btn--hidden
				section.col-sm-2
					section#pName.col-sm-12.pName Needs Project Name
					section.col-sm-12
						span.project-thumbnail
							img.project-thumbnail
						button(id="saveIt" class="btn btn-large btn-success saveIt__centered" role="button" data-leader="" info="") Save it!	

				section.col-sm-3
					br
					span#pMission.pMission.col-sm-12 Project Mission Statement
				section.col-sm-4
					section.col-sm-12.section--remove-left-padding.skiIntGoa
						br
						section.col-sm-3.pSkills Skills:
						section#pS.col-sm-9
							<button  type="button" class="btn btn-default disabled btn-less-padding btn--hidden"></button>
						br
						section.col-sm-3.pSkills	Goals:
						section#pG.col-sm-9
							<button  type="button" class="btn btn-less-padding btn-default disabled btn--hidden"></button>
						br
						section.col-sm-3.pSkills	Interests:
						section#pI.col-sm-9
							<button  type="button" class="btn btn-default btn-less-padding disabled btn--hidden"></button>
				section.col-sm-3
					section.pInteractions.col-sm-12
						span.glyphicon.glyphicon-asterisk(aria-hidden=true)
						span.glyphicon-envelope-text(id=contactMe)  Please contact me
						br
						span.glyphicon.glyphicon-envelope(aria-hidden=true)
						span.glyphicon-envelope-text(id=contactMe)  Email project lead




					//button(id="saveIt" class="btn btn-large btn-success saveIt__centered" role="button" data-leader="" info="") Save it!


				div#moreInfo.btn--hidden
					section.col-sm-12.section--remove-left-padding.skiIntGoa
						section.col-sm-2.pSkills Skills:
						section#ppS.col-sm-10
							<button  type="button" class="btn btn-default disabled btn--hidden"></button>
						section.col-sm-2.pSkills	Goal sought:
						section#ppG.col-sm-10
							<button  type="button" class="btn btn-default disabled btn--hidden"></button>
						section.col-sm-2.pSkills	Civic Interest areas:
						section#ppI.col-sm-10
							<button  type="button" class="btn btn-default disabled btn--hidden"></button>
					div#moreProjInfo
						section.col-sm-12
							h3 Tasks
								h5 Lorem Ipsum
						section.col-sm-12
							h3 Past results
								h5 Lorem Ipsum
						section.col-sm-12.section--remove-left-padding.skiIntGoa
							section.col-sm-2
								h3 Project Lead
									img.project-thumbnail
							section.col-sm-10
									h4.leader Team Leader Name
									button(id="teamAddr" class="btn btn-large btn-primary mail-icon__centered" role="button" data-leader="" info="") Contact Team
							br


			div#match_res.btn--hidden
				div
					div.row
						//section.col-sm-2
						//	img(src="")
						section.col-sm-8
							h4.large-hero--font-narrow You are matched!<br>Explore the details of the project teams, and connect to the teams that you are interested in. When you connect, a message with your profile and email will be sent to the project team lead(s).
							br
							h2.h1--icon-before You searched for:


					div.row.matchingConfigs-list

						section.section__matchGoal.col-sm-4
							h4#searchgoals.config Goals:

						section.section__matchSkill.col-sm-4
							h4#searchskills.config Skills:

						section.section__matchInterest.col-sm-4
							h4#searchinterests.config Interests:

					br
					h2.h1--more-margin  Your matching projects:
					div#pList.container
						//
						//matching list will be appended here
						//

						<br />
			div.text-center
				div.btn-group(role="group" aria-label="...")
					button(type="button" id="backToWizard" class="btn btn-primary button__more-margins btn--hidden") Restart the Matching Hat wizard

			include partials/contactTeamForm
			include partials/savedProjs
