{{yield}}
{{outlet}}
  
<div class="row">
  <div class="col-md-3">
  
    <a href="/projects/list">
      <button type="button" class="btn btn-default btn-default pull-right">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to Product List
      </button>
    </a>
          
  </div>
  
  <div class="col-md-6" style="text-align:center;">
    
    {{#if project}}
    <h3>Edit Project</h3>ID {{project.id}}
    {{else}}
    <h3>Create A New Project</h3>
    {{/if}}
    
  </div>
  
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    
    <div class="panel panel-default" style="background-color:#eee;">
      <div class="panel-body">
        
        <form class="form-horizontal" {{action 'saveProject' on="submit"}}>
        {{input type="hidden" value=project.id}}
        
          {{#if params.updated}}
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Record Updated</strong>
          </div>
          {{/if}}
    
          <div class="form-group">
            <label for="contactName" class="col-md-3 control-label">Project Name</label>
            <div class="col-md-9">
              {{input 
                type="text" 
                value=project.name 
                class="form-control"
              }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="summary" class="col-md-3 control-label">Summary</label>
            <div class="col-md-9">
              {{textarea 
                value=project.matching-descr.summary 
                rows=3
                class="form-control" 
              }}
              <span id="helpBlock" class="help-block">Short, descriptive sentence.</span>
            </div>
          </div>
          
          <div class="form-group">
            <label for="contactName" class="col-md-3 control-label">Contact Name</label>
            <div class="col-md-9">
              {{input 
                type="text"
                value=project.matching-descr.contactName 
                class="form-control" 
              }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="contactEmail" class="col-md-3 control-label">Contact Email</label>
            <div class="col-md-9">
              {{input 
                type="text"
                value=project.matching-descr.contactEmail
                class="form-control" 
              }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="contactRole" class="col-md-3 control-label">Contact Role</label>
            <div class="col-md-9">
              {{input 
                type="text"
                value=project.matching-descr.contactRole
                class="form-control" 
              }}
            </div>
          </div>
          
          <div class="form-group">
            <label for="contactThumbnailUrl" class="col-md-3 control-label">Contact Image</label>
            <div class="col-md-9">
              {{input 
                type="text"
                value=project.matching-descr.contactThumbnailUrl
                class="form-control" 
              }}
              
              {{#if project.matching-descr.contactThumbnailUrl}}

                <figure style="padding-top:10px;">
                  <div style="height:100px; width:100px; overflow:hidden;">
                    <img class="img-responsive" src="{{project.matching-descr.contactThumbnailUrl}}"/>
                  </div>
                </figure>

              {{else}}
                <span id="helpBlock" class="help-block">
                  URL, e.g. a GitHub profile image.
                </span>
              {{/if}}
              
            </div>
          </div>
          
          <div class="form-group">
            <label for="repository" class="col-md-3 control-label">Repository</label>
            <div class="col-md-9">
              {{input 
                type="text"
                value=project.matching-descr.repository
                class="form-control" 
              }}
              <span id="helpBlock" class="help-block">
                URL, e.g. a GitHub repo page.
              </span>
            </div>
          </div>
          
          <div class="form-group">
            <label for="link" class="col-md-3 control-label">Website</label>
            <div class="col-md-9">
              {{input 
                type="text"
                value=project.matching-descr.link
                class="form-control" 
              }}
              <span id="helpBlock" class="help-block">
                Project URL or documentation page.
              </span>
            </div>
          </div>
          
          <div class="form-group">
            <label for="tasks" class="col-md-3 control-label">Tasks</label>
            <div class="col-md-9">
              {{textarea 
                value=project.matching-descr.tasks 
                rows=4
                class="form-control" 
              }}
              <span id="helpBlock" class="help-block">
                Comma-delimited list. Describe what you're working on to a new member.
              </span>
            </div>
          </div>
          
          <div class="form-group">
            <label for="progress" class="col-md-3 control-label">Progress</label>
            <div class="col-md-9">
              {{textarea 
                value=project.matching-descr.progress
                rows=4
                class="form-control" 
              }}
              <span id="helpBlock" class="help-block">
                Comma-delimited list. Describe what you've recently complete to a new member.
              </span>
            </div>
          </div>
          
          <div class="row" style="padding:10px;">
            <div class="col-md-9">
              
            </div>
            
            <div class="col-md-3">
            
              {{#if project}}
              <button type="submit" class="btn btn-default pull-right">Update</button>
              {{else}}
              <button type="submit" class="btn btn-default pull-right">Create</button>
              {{/if}}
            
            </div>
          </div>
        
        </form>
        
      </div>
      
    </div>
  
  </div>
  
  <div class="col-md-2"></div>
  
</div>
