<p id="notice"><%= notice %></p>

<h3><%= @project.name %></h3>

<p>
  <strong>Slack Channel:</strong>
  #<%= @project.slack_channel %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Website URL:</strong>
  <%= @project.website_url %>
</p>

<p>
  <strong>Additional Info:</strong>
  <%= @project.additional_info %>
</p>

<div class="card-deck">
  <% Taxonomy.all.each do |taxonomy| %>
    <div class="card">
      <div class="card-header">
        <%= taxonomy.name %>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-header">
            Tags
            <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#tagModal_<%= taxonomy.id %>">Add</button>
          </div>
          <div class="card-body" id="taxonomy-<%= taxonomy.id %>-tags">
            <% @project.project_tags.where(taxonomy: taxonomy).each do |project_tag| %>
              <%= render 'project_tags/existing_tag', project_tag: project_tag %>
            <% end %>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Categories
            <button class="btn btn-sm btn-primary float-right">Add</button>
          </div>
          <div class="card-body">
            <% @project.category_projects.where(taxonomy: taxonomy).each do |category_project| %>
              <div class="badge badge-success"><%= category_project.category.name %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'tag_modal', taxonomy: taxonomy %>
  <% end %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
