<!DOCTYPE html>
<html>
  <head>
    <title>BrigadeMatchmakerAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav className="navbar navbar-expand-md navbar-light">
          <a className="navbar-brand" href="#">
            <%= image_tag 'cfsf_logo.png' %>
          </a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
