<%= form_with(model: category_taxonomy, local: true) do |form| %>
  <% if category_taxonomy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category_taxonomy.errors.count, "error") %> prohibited this category_taxonomy from being saved:</h2>

      <ul>
        <% category_taxonomy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :taxonomy_id %>
    <%= form.text_field :taxonomy_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
